extends ../_general/temp_page.jade

block content
    section.forget_password_section.form_section
        h1 忘記密碼
        p 請輸入當初註冊的email與生日，系統將會寄送重設密碼通知信至此信箱，謝謝。
        div.form
            input(type="text" placeholder="請輸入已經註冊Email" require).input_box.section_box#forget_mail
            span.input_date_wrapper
                input(type="text" placeholder="YYYY" require).input_box.input_year#forget_date_year
                input(type="text" placeholder="MM" require).input_box.input_month#forget_date_month
                input(type="text" placeholder="DD" require).input_box.input_day#forget_date_day
            div.error_message Email或生日輸入錯誤/該Email尚未註冊
            button.input_button.input_box.section_box#register_button 送出

    div#dialog
        h1 重設密碼通知信已寄送
        p 請到信箱收取通知信，點擊信件內的連結就可重新設定密碼，謝謝。
        a(href="#") 確定