extends ../_general/member_section/temp_member_section.jade
    
block append content
    block navArray
        -var navArray = ["首頁","會員專區","訂單查詢","申請退貨","填寫退款帳戶資料"]

block activeIndex
     -var activeIndex = 0
block member_section
    section.table_wrapper
        .section_title 申請退貨
            hr.split
            h3.section_sub_title 請填寫退款帳戶資料
            
        table.refund_table
            tbody
                tr
                    td.td_key 退款方式：
                    td.td_value 退回銀行帳戶
                
                tr
                    td.td_key 帳戶姓名：
                    td.td_value
                        input(type="text")#account_name
                
                tr
                    td.td_key 銀行名稱：
                    td.td_value
                        select#bank_name
                            option(hidden) 銀行名稱
                            option 郵局
                            option 泰山銀行
                
                tr
                    td.td_key 帳　　號：
                    td.td_value
                        input(type="text")#account
                
                //- tr
                //-     td.td_key 退款金額：
                //-     td.td_value $ 50
                
        span.dialog_button_wrapper
            button.dialog_button.pre 上一步
            button.dialog_button.next 下一步
    
    div#dialog.do_button_dialog
        h1 退貨申請已送出
        p 退貨申請已成功送出，請將退貨商品寄回以下地址：
            | <br/> 241新北市三重區中央南路72巷14號1F
        p 我們將於收到您的退貨商品並審核符合退貨條件後，進行退款程
            | <br/> 序，退款的作業時間為收到退貨商品後的5個工作天，謝謝！
        a.dialog_button#check_receive 確定
    
    div#check_dialog.do_button_dialog
        img(src="../general/img/delete.png").colse_dialog
        img(src="./img/warning.png").warning_img
        p 請核對
            span.notice 退款帳戶資料
            | 是否正確一旦送出即不可修改
        
        span.dialog_button_wrapper
            button.dialog_button.dialog_cancel 取消
            button.dialog_button.dialog_check 確定