extends ../_general/temp_page.jade

block content
    section#top_banner
        .col_center.bg_pink_medium
        .col_left
            .row.bg_skin_deep
                a(href="#")
                    img(src="./asset/美甲彩繪banner.png")
                    

            .row.bg_pink_deep
                a(href="#")
                    img(src="./asset/時尚彩妝banner.png")
                    .category_text
                        h2.category_text_zhtw
                            | 時尚
                            br
                            | 彩妝
                        h6.category_text_en Make Up

        .col_right
            .row.bg_skin_deep
                a(href="#")
                    img(src="./asset/美體保養banner.png")
            .row.bg_skin_light
                a(href="#")
                    img(src="./asset/香氛香氣banner.png")

    section#bottom_banner
        
            .col.row.bg_skin_light
                a(href="#")
                    img(src="./asset/限時優惠banner.png")
                    .category_text
                        h2.category_text_zhtw 限時優惠
                        h6.category_text_en Make Up
        
        
            .col.row.bg_skin_light
                a(href="#")
                    img(src="./asset/最新商品banner.png")
                    .category_text
                        h2.category_text_zhtw 最新商品
                        h6.category_text_en Make Up
        
        
            .col.row.bg_skin_light
                a(href="#")
                    img(src="./asset/熱門商品banner.png")
                    .category_text
                        h2.category_text_zhtw 熱門商品
                        h6.category_text_en Hot Deals
    
    section#subscribe_newsletters
        h1 訂閱電子報取得第一手優惠資訊！
        h2 SIGN UP TO OUR WEEKLY NEWSLETTER
        form
            input(type='eamil' placeholder='Your email address')
            input(type='submit' value='SUBSCRIBE')#subscribe_btn
        div
            a(href="#")
                i.fa.fa-instagram(aria-hidden='true')
            a(href="#")
                i.fa.fa-facebook-official(aria-hidden='true')