.commodity_filter

    &:after
        content:'\25BC';
        display:inline-block;
        color:#C3C2C3;
        background-color:#fff;
        margin-left:-17px;   /* remove the damn :after space */
        pointer-events:none; /* let the click pass trough */
        transform: scale(0.6);

    &>select
        background: white
        border-radius: 0
        -webkit-appearance:initial
        padding: 6px
        border: 1px solid #C3C2C3;
        size 145px 32px
        margin-bottom: 20px