include ./logoImgBase64.jade

header#header
    nav.nav_btns_wrapper
        .nav_btns.left
            a(href="#")
                i.fa.fa-instagram(aria-hidden='true')
            a(href="#")
                i.fa.fa-facebook-official(aria-hidden='true')
            i |
            a(href="#")
                i.fa.fa-user-circle-o(aria-hidden='true')
            a(href="#")
             i.fa.fa-heart(aria-hidden='true')

        .nav_btns.right
            a(href="#")
                i.fa.fa-search(aria-hidden='true')
            a(href="#")
                i.fa.fa-shopping-cart(aria-hidden='true')

    nav.nav_list_wrapper
        img(alt="Embedded Image" src=logoImgBase64)#logo_img
        
        ul.nav_list
            li 限時優惠
            li 最新商品
            li 熱門商品
            li 美甲彩繪
                
            li 時尚彩妝
            li 美體保養
                
            li 香氛香氣
                
            li 更多品項
                
                
                