$nav_btns_margin = 13.2%
$search_component_height = 20px
$nav_btns_wrapper_height = 45px
$nav_scrolled_height = 45px
$dropdown_triangle_height = 7px

.space_block
    background: $pink_deep
    height: $nav_btns_wrapper_height

.nav_btns_wrapper
    color: white

.nav_btns
    position: absolute
    top: 12px
    
    &.left
        left: $nav_btns_margin
    
    &.right
        right: $nav_btns_margin

    >a,.dropdown_block_wrapper
        &:hover
            color: $brown_icon_hover

    .dropdown_block_wrapper
        display: inline-flex
        flex-direction: column
        flex-axis: center center
    
    i
        margin: 0 5px
        font-style: normal
        font-size: $font18
        cursor: pointer

    i.fa-user-circle-o
        margin-bottom: 1px
    
    .small_icon
        font-size: $font16

.dropdown_block_wrapper>i.fa
    padding-bottom: 16px;

.dropdown_block
    background: white
    display: flex
    flex-axis: center center
    padding: 0 10px
    box-sizing: border-box
    box-shadow: 0 2px 4px 0 #F0E1DB
    position: absolute
    white-space: nowrap
    margin-top: 34px
    height: 40px
    show_dropdown_animation(".dropdown_block_wrapper>i:hover + &")

    >li
        margin: 0 10px
        color: $brown
        line-height: 40px
        cursor: pointer
        &:hover
            color: $pink_medium 
    &:before
        content: ''
        position: absolute
        left: 50%
        transform: translateX(-50%) translateY(- $dropdown_triangle_height)
        topDownTriangle( $dropdown_triangle_height, 6px , $pink_deep )
        border-top-width:0
        align-self: flex-start;

    .nav_btns.right &
        /*因為nav icon高度都不同，所以排列不整齊，導致margin會有些許差距需要特別設定*/
        margin-top: (34px + 2)

#search_input
    border-bottom: 1px solid $pink_medium
    height: ($search_component_height - 3)
    flex: 1;

    //&::placeholder
    +placeholder()
        color: $pink_medium

#search_go
    size: 45px $search_component_height
    background: $pink_medium
    border: 1px solid $pink_medium
    color: white
    cursor: pointer
    box-sizing: border-box

    &:active
        background: white
        color: $pink_medium

.nav_list_wrapper
    background: $pink_light
    display: flex
    flex-direction: column
    flex-axis: center center
    font-size: $font13
    color: $brown
    padding-bottom: 10px

#logo_img
    height: 47px
    width: 168px
    margin: 20px 0
       
.parent_category_list
    display: flex

    >li
        margin: 0 30px
        cursor: pointer
        display: flex
        flex-direction: column
        position: relative

        &:hover
            color: $pink_medium
            

.child_category_wrapper
    color: $brown_icon_hover
    display: flex
    background: white
    height: 220px
    padding: 17px 20px
    box-sizing: border-box
    box-shadow: 0 1px 2px 0 rgba(97,97,97,0.70)
    position: absolute
    left: -40px
    z-index: 10
    margin-top: 10px
    white-space: nowrap
    /*show*/
    show_dropdown_animation(".parent_category_list>li:hover  &")
    
    .child_category_list
        padding-left: 10px
        padding-right: 40px

        >li
            padding-top: 15px
            width: 230px
            white-space: normal


            &:hover
                color: $pink_medium

.child_category_wrapper_attach_right
    position: fixed;
    right: 0;
    left: initial;

.child_category_wrapper_attach_left
    position: fixed;
    left: 0;
    right: initial;
/*special request*/

//search icon min and move up 1px
.fa-search:before {
    position: relative;
    top: -1px;
    font-size: $font15
}




//+media-query( only screen ,max-width 900px )


//for scroll header css
.scroll_header
    position: fixed;
    width: 100%;
    z-index: 20;
    background: $pink_light
    display: flex;
    // flex-wrap: wrap
    box-shadow: 0 2px 2px 0 rgba(97,97,97,0.22);
    //transform: translateY(-($nav_scrolled_height));
    flex-axis:center


    .nav_btns_wrapper
        color: $pink_deep
    .nav_list_wrapper
        flex-direction: row;
        height: 45px;
        padding: 0;
        max-width: $banner_max_width
        width: 100%;
        justify-content: space-between;

    #logo_img
        width: 125px;
        height: 30px;
        
    .nav_btns_wrapper
        display: flex;
        line-height: $nav_scrolled_height;

    .nav_btns
        position: initial;
    
    .child_category_wrapper
        margin-top: 15px
    .scroll_disappear
        display: none