include ./logoImgBase64.jade

header#header.isRWD
    nav.space_block.scroll_disappear
        
    nav.nav_list_wrapper
        a(href="#")
            img(alt="Embedded Image" src=logoImgBase64)#logo_img
        
        ul.parent_category_list.rwd_disapper
            li 
                a(href="#").parent_category 限時優惠
                div.child_category_wrapper
                    ul.child_category_list
                        li 
                            a(href="") C&CHAT 幻彩系指油貼任選兩件500元
                        li 
                            a(href="") Dear Mia系列產品消費滿2,000元現折200元
                        li 
                            a(href="") 歡慶母親節·美體保養消費滿1500元現折500元
                    img(src="../general/img/pic1.png")
                    
            li 
                a(href="#").parent_category 最新商品
                div.child_category_wrapper
                    ul.child_category_list
                        li 
                            a(href="") C&CHAT 幻彩系指油貼任選兩件500元
                        li 
                            a(href="") Dear Mia系列產品消費滿2,000元現折200元
                        li 
                            a(href="") 歡慶母親節·美體保養消費滿1500元現折500元
                    img(src="../general/img/pic1.png")
            li 
                a(href="#").parent_category 熱門商品
            li 
                a(href="#").parent_category 美甲彩繪
                
            li 
                a(href="#").parent_category 時尚彩妝
            li 
                a(href="#").parent_category 美體保養
                
            li 
                a(href="#").parent_category 香氛香氣
                
            li.more_option_wrapper 
                a(href="#").parent_category 更多品項
                div.child_category_wrapper.more_option
                    
                    ul.child_category_list
                        span.first_layer_triangle
                        li.rwd950 
                            a(href="#") 香氛香氣
                            ol.more_option_child_wrapper
                                li 
                                    a(href="") 既然那是隻能下蛋的雞，為何幻化成人之後卻是個男人
                                li 
                                    a(href="") 這首真是好聽的莫名奇妙XD
                                li 
                                    a(href="") 聽到我雞雞皮疙瘩都起來了﻿
                        li 
                            a(href="#") 護膚保養
                            ol.more_option_child_wrapper
                                li 
                                    a(href="") C&CHAT 幻彩系指油貼任選兩件500元
                                li 
                                    a(href="") Dear Mia系列產品消費滿2,000元現折200元
                                li 
                                    a(href="") 歡慶母親節·美體保養消費滿1500元現折500元
                        li 
                            a(href="#") 酷炫指甲
                            ol.more_option_child_wrapper
                                li 
                                    a(href="") C&CHAT 幻彩系指油貼任選兩件500元
                                li 
                                    a(href="") Dear Mia系列產品消費滿2,000元現折200元
                                li 
                                    a(href="") 歡慶母親節·美體保養消費滿1500元現折500元
                        li 
                            a(href="#") 光凝膠
                        li 
                            a(href="#") 指甲貼片
                        li 
                            a(href="#") 指甲保養
                        li 
                            a(href="#") 卸甲商品
                        li 
                            a(href="#") 天下無敵
                            ol.more_option_child_wrapper
                                li 
                                    a(href="") XXXXXXX
                                li 
                                    a(href="") YYYYYYYY
                                li 
                                    a(href="") ZZZZZZZ
                    img(src="../general/img/pic1.png")
                
        div.nav_btns_wrapper
            .nav_btns.left
                a(href="#").scroll_disappear
                    i.fa.fa-instagram(aria-hidden='true')
                a(href="#").scroll_disappear
                    i.fa.fa-facebook-official(aria-hidden='true')

                | <i class="scroll_disappear">|</i>
                
                span.dropdown_block_wrapper
                    i.fa.fa-user-circle-o.small_icon(aria-hidden='true')

                    ul.dropdown_block#member_panel
                        li 
                            a(href="#") 訂單查詢
                        li
                            a(href="#") 我的收藏清單
                        li
                            a(href="#") 購物金折抵券
                        li
                            a(href="#") 帳戶設定
                        li
                            a(href="#") 登出


                a(href="#")
                    i.fa.fa-heart.small_icon(aria-hidden='true')

            .nav_btns.right

                span.dropdown_block_wrapper
                    i.fa.fa-search.small_icon(aria-hidden='true')#search_button
                    form.dropdown_block
                        input(type="text" placeholder="Search...")#search_input
                        input(type="submit" value="GO")#search_go

                span.dropdown_block_wrapper
                    i.fa.fa-shopping-cart(aria-hidden='true')
                    #shopping_cart.dropdown_block
                        div
                            .shopping_cart_product      
                                a                      
                                    img(src="../general/img/shopping_cart_delete.png").remove_product
                                .shopping_cart_product_info_wrapper
                                    .shopping_cart_product_name Dear Mia 美甲光凝膠-瓶裝 一步膠 色膠-螢光系列 粉紅檸檬汁
                                    .shopping_cart_product_info
                                        .color 顏色：紅色
                                        .number 數量： 1
                                    .shopping_cart_product_price $ 580
                                img(src="../general/img/商品圖_cart.png").product_img

                            .shopping_cart_product      
                                a                      
                                    img(src="../general/img/shopping_cart_delete.png").remove_product
                                .shopping_cart_product_info_wrapper
                                    .shopping_cart_product_name Dear Mia 美甲光凝膠-瓶裝 一步膠 色膠-螢光系列 粉紅檸檬汁
                                    .shopping_cart_product_info
                                        .color 顏色：紅色
                                        .number 數量： 1
                                    .shopping_cart_product_price $ 580
                                img(src="../general/img/商品圖_cart.png").product_img

                            .shopping_cart_product      
                                a                      
                                    img(src="../general/img/shopping_cart_delete.png").remove_product
                                .shopping_cart_product_info_wrapper
                                    .shopping_cart_product_name Dear Mia 美甲光凝膠-瓶裝 一步膠 色膠-螢光系列 粉紅檸檬汁
                                    .shopping_cart_product_info
                                        .color 顏色：紅色
                                        .number 數量： 1
                                    .shopping_cart_product_price $ 580
                                img(src="../general/img/商品圖_cart.png").product_img

                            .shopping_cart_product      
                                a                      
                                    img(src="../general/img/shopping_cart_delete.png").remove_product
                                .shopping_cart_product_info_wrapper
                                    .shopping_cart_product_name Dear Mia 美甲光凝膠-瓶裝 一步膠 色膠-螢光系列 粉紅檸檬汁
                                    .shopping_cart_product_info
                                        .color 顏色：紅色
                                        .number 數量： 1
                                    .shopping_cart_product_price $ 580
                                img(src="../general/img/商品圖_cart.png").product_img
                            
                            .shopping_cart_product                            
                                a
                                    img(src="../general/img/shopping_cart_delete.png").remove_product
                                .shopping_cart_product_info_wrapper
                                    .shopping_cart_product_name Dear Mia 美甲光凝膠-瓶裝 一步膠 色膠-螢光系列 粉紅檸檬汁
                                    .shopping_cart_product_info
                                        .color 顏色：紅色
                                        .number 數量： 1
                                    .shopping_cart_product_price $ 580
                                img(src="../general/img/商品圖_cart.png").product_img
                        
                        .shopping_cart_calc
                            div 金額小計：
                            .calc_num $ 1160
                        
                        a(href="#").go_to_pay 前往結帳


                i.rwd_show#header_split_line

                i#bars.bars_rwd.fa.fa-bars(aria-hidden="true")

    div.mobile_menu
        ul.first_layer
            span.first_layer_triangle
            li(data-order=1).active 限時優惠
            li(data-order=2) 最新商品
            li(data-order=3) 熱門商品
            li(data-order=4) 美甲彩繪
            li(data-order=5) 時尚彩妝
            li(data-order=6) 美體保養
            li(data-order=7) 香氛香氣
        
        div.second_layer 
            span(data-order=1).active
                a(href="") C&CHAT 幻彩系指油貼任選兩件500元
                a(href="") Dear Mia系列產品消費滿2,000元現折200元 
                a(href="") 歡慶母親節·美體保養消費滿1500元現折500元
            span(data-order=2)
                a(href="") 癢癢又臭臭的
                a(href="") 接下來就可以獲得跨裝置的資訊 
                a(href="") 輸入以上網址，就可以看到Prepos全部的專案

            span(data-order=3)
                a(href="") 看了吉田穗波的精彩人生，希望我們也都能夠為
                a(href="") 時間跟愛人、家人做更多有意義的事 ! 
                a(href="") 好文章 分享給朋友吧~
            span(data-order=4)
                a(href="") 癢癢又臭臭的
                a(href="") 接下來就可以獲得跨裝置的資訊 
                a(href="") 輸入以上網址，就可以看到Prepos全部的專案
            span(data-order=5)
                a(href="") 看了吉田穗波的精彩人生，希望我們也都能夠為
                a(href="") 時間跟愛人、家人做更多有意義的事 ! 
                a(href="") 好文章 分享給朋友吧~
            span(data-order=6)
                a(href="") 癢癢又臭臭的
                a(href="") 接下來就可以獲得跨裝置的資訊 
                a(href="") 輸入以上網址，就可以看到Prepos全部的專案
            span(data-order=7)
                a(href="") 看了吉田穗波的精彩人生，希望我們也都能夠為
                a(href="") 時間跟愛人、家人做更多有意義的事 ! 
                a(href="") 好文章 分享給朋友吧~
