include ./logoImgBase64.jade

header#header.isRWD
    nav.space_block.scroll_disappear
        
    nav.nav_list_wrapper
        img(alt="Embedded Image" src=logoImgBase64)#logo_img
        
        ul.parent_category_list
            li.rwd_disapper 限時優惠
                div.child_category_wrapper
                    ul.child_category_list
                        li 
                            a(href="") C&CHAT 幻彩系指油貼任選兩件500元
                        li 
                            a(href="") Dear Mia系列產品消費滿2,000元現折200元
                        li 
                            a(href="") 歡慶母親節·美體保養消費滿1500元現折500元
                    img(src="../general/img/pic1.png")
                    
            li.rwd_disapper 最新商品
                div.child_category_wrapper
                    ul.child_category_list
                        li 
                            a(href="") C&CHAT 幻彩系指油貼任選兩件500元
                        li 
                            a(href="") Dear Mia系列產品消費滿2,000元現折200元
                        li 
                            a(href="") 歡慶母親節·美體保養消費滿1500元現折500元
                    img(src="../general/img/pic1.png")
            li.rwd_disapper 熱門商品
            li.rwd_disapper 美甲彩繪
                
            li.rwd_disapper 時尚彩妝
            li.rwd_disapper 美體保養
                
            li.rwd_disapper 香氛香氣
                
            li.more_option_wrapper 更多品項
                div.child_category_wrapper.more_option
                    ul.child_category_list
                        li 護膚保養
                            ol.more_option_child_wrapper
                                li 
                                    a(href="") C&CHAT 幻彩系指油貼任選兩件500元
                                li 
                                    a(href="") Dear Mia系列產品消費滿2,000元現折200元
                                li 
                                    a(href="") 歡慶母親節·美體保養消費滿1500元現折500元
                        li 酷炫指甲
                            ol.more_option_child_wrapper
                                li 
                                    a(href="") C&CHAT 幻彩系指油貼任選兩件500元
                                li 
                                    a(href="") Dear Mia系列產品消費滿2,000元現折200元
                                li 
                                    a(href="") 歡慶母親節·美體保養消費滿1500元現折500元
                        li 光凝膠
                        li 指甲貼片
                        li 指甲保養
                        li 卸甲商品
                        li 天下無敵
                            ol.more_option_child_wrapper
                                li 
                                    a(href="") XXXXXXX
                                li 
                                    a(href="") YYYYYYYY
                                li 
                                    a(href="") ZZZZZZZ
                    img(src="../general/img/pic1.png")
                
        div.nav_btns_wrapper
            .nav_btns.left
                a(href="#").scroll_disappear
                    i.fa.fa-instagram(aria-hidden='true')
                a(href="#").scroll_disappear
                    i.fa.fa-facebook-official(aria-hidden='true')

                | <i class="scroll_disappear">|</i>
                
                span.dropdown_block_wrapper
                    i.fa.fa-user-circle-o.small_icon(aria-hidden='true')

                    ul.dropdown_block
                        li 
                            a(href="#") 訂單查詢
                        li
                            a(href="#") 我的收藏清單
                        li
                            a(href="#") 購物金折抵券
                        li
                            a(href="#") 帳戶設定
                        li
                            a(href="#") 登出


                a(href="#")
                    i.fa.fa-heart.small_icon(aria-hidden='true')

            .nav_btns.right

                span.dropdown_block_wrapper
                    i.fa.fa-search.small_icon(aria-hidden='true')
                    form.dropdown_block
                        input(type="text" placeholder="Search...")#search_input
                        input(type="submit" value="GO")#search_go

                a(href="#")
                    i.fa.fa-shopping-cart(aria-hidden='true')
                
                | <i class="rwd_show">|</i>

                i#bars.fa.fa-bars.rwd_show(aria-hidden="true")

                    