@require "../../../node_modules/kouto-swiss"
.rwd-table
    border-collapse: collapse;
    width: 100%
    margin-bottom: 50px

.rwd-table 
    th,td
        text-align: center;

.rwd-table th,td:before
    height: 40px
    min-height: 40px;
    background: #F6EAE6
    color: #D6645F
    font-size: 15px
    font-weight: 400;

.rwd-table th
    box-sizing: border-box

.rwd-table tbody tr
    font-size: 14px
    color: #8E5651
    font-weight: 100
    height: 60px
    box-sizing: border-box
    border-bottom: 1px solid #F6EAE6

    td[data-th=''] 
        flex 1
    /*目前暫時不套用在有商品欄位的rwd-table , 只給純資料的rwd-table*/
    .td_data
        min-height: 50px;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        word-break: break-word;
        padding: 10px 0;
        height: 100%;
        box-sizing: border-box;

+media-query( all, max-width $phone_rwd_width )
  
    .rwd-table tr
        display: flex;
        flex-wrap: wrap;
  
    .rwd-table th
        display: none;
    
    .rwd-table td:before
        content: attr(data-th) " ";
        display: flex
        flex-axis:center

    .rwd-table tbody tr
        height: initial
        margin-bottom: 10px;

    .rwd-table td
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 33.3%;
        line-height: 48px;
        font-size: 12px;

        &:before
            font-size: 14px
  

/* from http://limitedcode.blogspot.tw/2016/03/html-rwdtable.html */

