@import "../general"
@import "../banner_section/banner_section"
@import "../_general/dialog/dialog"

.commodity_count
    display: none
#sub_section
    height: 17px

.split
    border: 0;
    height: 0;
    border-top: 1px solid #D5948E
    width: 100%;
    max-width: $banner_max_width

+media-query( all, max-width $phone_rwd_width )
    .page_link>img
        height: 100px
        
.two_col
    display: flex
    width: 100%;
    max-width: 1185px;

.side_bar
    width: 200px
    margin-top: 50px

    li 
        color: #4A4A4A
        font-weight: 100
        font-size: 18px
        margin-bottom: 10px

.side_bar
    li.active
        color: #D6645F
        font-weight: normal

.table_wrapper
    flex: 1

    .split
        border-top: 1px solid #F6EAE6

    .section_title
        text-align: center
        color: #4A4A4A
        font-size: 18px
#logout
    cursor: pointer
#logout_dialog
    padding: 95px 134px 110px
    display: none
    h1
        font-weight: 400
    .dialog_button_wrapper
        margin-bottom: 0

+media-query( all, max-width $phone_rwd_width )
    #main
        padding: 0 10px

    #sub_section
        display: none
        
    .two_col
        flex-direction: column
    
    .side_bar
        width: 100%;
        margin-top: 5px;
        margin-bottom: 15px;
        border-bottom: 1px solid #d5948e
        padding-bottom: 5px;

        ul
            display: flex;
            flex-wrap: wrap;
            text-align: center;

            li
                margin-top: 5px;
                width: 33.3%;
                font-size: 14px;
    
    #logout_dialog
        padding: 0