@import "../_general/general"
@import "../_general/login/login"
@import "../_general/login/register_date"

/*overrid login.styl*/
.error_message
    text-align: initial;
    padding-left: 25px;
    display: none
    height: inherit;
/*overrid login.styl*/
mainNoFooter()

#main
    display: flex
    flex-axis:center
    // flex-direction: column//for IE11

.register_data_section
    display: none;

.notice_message
    color: #D6645F
    text-align: center
    
.reminder
    color: #D6645F
    text-align: center
    a
        text-decoration: underline
.marB32
        margin-bottom: 32px

#footer
    display: none


#dialog
    width: 100%
    max-width: 500px

/*dialig*/
#main
    position: relative
#dialog
    background: #FFF8F6;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09);
    color: #4A4A4A
    border: none
    display: flex
    display: none
    flex-direction: column
    flex-axis:center
    padding: 76px 56px
    position: absolute
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    text-align: center

    &>h1
        font-size: 30px
    &>p
        font-size: 18px
        margin: 20px 0 45px
    button,a
        display: flex
        padding: 7px 32px
        background: #D5948E;
        border-radius: 6px;
        color: white
        cursor: pointer

+media-query( all, max-width $phone_rwd_width )
    #dialog
        //margin: 0 10px
        max-width: calc("100vw - 20px");

/*dialig*/

    

