extends ../_general/temp_page.jade
include ../_general/login/login.jade

block content
    +register()

    section.register_data_section.form_section
        h1.marB32 請填寫/核對會員資料就可完成註冊
        div.form
            input(type="email" placeholder="Eamil" require).input_box.section_box
            .error_message 請輸入email
            input(type="text" placeholder="姓名" require).input_box.section_box#register_name
            .error_message 請輸入姓名
            input(type="phone" placeholder="聯絡電話" require).input_box.section_box#register_phone
            .error_message 請輸入聯絡電話
            span.input_date_wrapper
                input(type="text" placeholder="YYYY" require).input_box.input_year#register_year
                input(type="text" placeholder="MM" require).input_box.input_month#register_month
                input(type="text" placeholder="DD" require).input_box.input_day#register_day
            .error_message 請輸入生日
            .reminder.marB32 生日填寫後即不可更改，請確認生日是否填寫正確
            .reminder 按下確認就代表您已查看並同意
                a(href="") 隱私權政策
                | 與
                a(href="") 購物須知
                
            button.input_button.input_box.section_box#check_register_button 確認
    
    div#dialog
        h1 恭喜您已完成註冊
        p 請至信箱收取認證信完成註冊程序，謝謝！
        button#check_receive 確定