@import "../_general/general"
@import "../_general/login/login"

#main,.section_wrapper
    display: flex;
    flex-axis: center
    flex-direction: column

.section_wrapper
    margin-top: -5%
    &>p
        margin-top: 29px
//login.styl
.sign_in
    color: $pink_medium
    text-decoration: underline

#footer
    display: none