@import "../_general/general"
@import "../_general/login/login"

#main
    flex: 1
    
#main,.section_wrapper
    display: flex;
    flex-axis: center

.section_wrapper
    //margin-top: -5%
    flex-direction: column
    &>p
        margin-top: 29px
//login.styl
.sign_in
    color: $pink_medium
    text-decoration: underline

#footer
    display: none