#main
    width: 100%;
    max-width: 985px;
    margin: 0 auto;


.steps_section
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 44px
    
    h1
        /* 結帳: */
        font-size: 30px;
        color: #4A4A4A;
        letter-spacing: 0.78px;
        margin: 60px 0 30px
        font-weight: 400

.circles_wrapper
    display: flex
    justify-content: center
    align-items: center
    position: relative;
    width: 513px;
    

    &:before
        content: "";
        position: absolute;
        width: 485px;
        height: 1px;
        background: #d5948e;
        z-index: -1;
        top: 39px;
        left: 50%;
        transform: translateX(-50%);

    .circle_wrapper
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        color: #D5948E
        margin: 0 32px;
        width: 77px;

        .circle_num
            height: 43px
            width: 43px
            border: 16px solid white;
            border-radius: 50%
            background: #D5948E
            display: flex
            justify-content: center
            align-items: center
            font-size: 18px
            color: white

        .circle_text
            margin-top: 13px
            font-size: 14px
            color: inherit
            white-space: nowrap
    
    .circle_active
        color: #D6645F

        .circle_num
            background: #D6645F
        
    
+media-query( all, max-width $phone_rwd_width )
    .rwd_disappear
        display: none

    #main
        margin-top: 67px
        padding: 0 10px
        box-sizing: border-box
        
    
    .steps_section
    
        h1
            margin: 20px 0
            font-size: 20px

    .circles_wrapper
        width: 308px

        &:before
            top: 25px;
            width: 260px;
        .circle_wrapper
            margin: 0 25px;

            .circle_num
                width: 34px
                height: 34px
                font-size: 15px
                border: 6px solid white;

            .circle_text
                font-size: 12px
                display: flex;
                flex-direction: column;
            
            .marT2
                margin-top: 2px