mixin steps_section(activeIndex)  
    
    section.steps_section
        h1 結帳
        .circles_wrapper
            .circle_wrapper.circle_active
                .circle_num 1
                .circle_text.marT2
                    span 選擇配送
                    span.rwd_disappear /
                    span 付款方式

            .circle_wrapper(class= activeIndex >= 2 ? "circle_active" : "")
                .circle_num 2
                .circle_text 收件資料
                
                
            .circle_wrapper(class= activeIndex >= 3 ? "circle_active" : "")
                .circle_num 3
                .circle_text 付款
                
            .circle_wrapper(class= activeIndex >= 4 ? "circle_active" : "")
                .circle_num 4
                .circle_text 完成交易
