extends ../_general/temp_page.jade
include ../_general/banner_section/banner_section.jade

block content
    -var navArray = ["首頁","會員專區","訂單查詢"]
    +banner_section("#","../general/img/banner-會員專區.png",navArray,false)

    hr.split

    div.two_col
        section.side_bar
            ul
                li.active
                    a(href="") 訂單查詢
                li
                    a(href="") 我的收藏清單
                li
                    a(href="") 購物金折抵券
                li
                    a(href="") 帳戶設定
                li
                    a(href="") 登出
        section.order_query_info_table_wrapper

            table.order_query_info_table.rwd-table
                thead
                    tr
                        th 訂單編號
                        th 下單時間
                        th 總計金額
                        th 訂單狀態
                        th 鑑賞期限
                        th 
                tbody
                    tr
                        td(data-th='訂單編號') 
                            a(href="#") EJ201702030001
                        td(data-th='下單時間') 2017/02/03 12:21
                        td(data-th='總計金額') $ 1,200
                        td(data-th='訂單狀態') 訂單處理中
                        td(data-th='鑑賞期限') 
                        td(data-th='')
                            button.do_button.do_cancel 我要取消
                        //-要湊滿6個QQ
                    tr
                        td(data-th='訂單編號') 
                            a(href="#") EJ201702030001
                        td(data-th='下單時間') 2017/02/03 12:21
                        td(data-th='總計金額') $ 1,200
                        td(data-th='訂單狀態') 已取貨
                        td(data-th='鑑賞期限') 
                        td(data-th='')
                            button.do_button.do_return 我要取消
                    
                    tr
                        td(data-th='訂單編號') 
                            a(href="#") EJ201702030001
                        td(data-th='下單時間') 2017/02/03 12:21
                        td(data-th='總計金額') $ 1,200
                        td(data-th='訂單狀態') 已取貨
                        td(data-th='鑑賞期限') 2017/02/10
                        td(data-th='')
                            button.do_button.do_return 我要取消
                    
                    tr
                        td(data-th='訂單編號') 
                            a(href="#") EJ201702030001
                        td(data-th='下單時間') 2017/02/03 12:21
                        td(data-th='總計金額') $ 1,200
                        td(data-th='訂單狀態') 已出貨
                        td(data-th='鑑賞期限') 
                        td(data-th='')
                            button.do_button.empty_button null
                    
                    tr
                        td(data-th='訂單編號') 
                            a(href="#") EJ201702030001
                        td(data-th='下單時間') 2017/02/03 12:21
                        td(data-th='總計金額') $ 1,200
                        td(data-th='訂單狀態') 尚未完成付款
                        td(data-th='鑑賞期限') 
                        td(data-th='')
                            button.do_button.empty_button null