#footer
    background: $pink_light
    padding: 30px 0
    color: $pink_medium
    display: flex
    flex-direction: column
    flex-axis: center center
    font-size: $font12
    box-sizing: border-box

#footer_link
    display: flex
    
    >ul
        display: flex

.footer_link
        margin: 0 35px

        i
            margin-right: 10px

.copyright
    margin-top: 20px


+media-query( only screen ,max-width 850px )
    #footer_link
        flex-direction: column-reverse

        ul
            flex-direction: column
            flex-axis: center center

    .footer_link
        margin-bottom: 30px

    .copyright
        margin-top: 0


    
















