
footer#footer

    #footer_link
        ul
            li
                a(href='#') 
                    i.fa.fa-phone(aria-hidden='true')
                    | 02-22221111
            li
                a(href='#') 
                    i.fa.fa-envelope-o(aria-hidden='true')
                    | service@mistermorden.com
        ul
            li
                a(href='#') 購物須知
            li
                a(href='#') 關於Enjoy！享受吧！
            li
                a(href='#') 隱私權政策
            
    .copyright Copyright 2016 BOOM Co., LTD, All rights reserved.

      
