extends ../_general/temp_page.jade
include ../_general/banner_section/banner_section.jade

block content
    include ../_general/page_top/page_top_button.jade
    -var navArray = ["首頁","限時優惠"]
    +banner_section("#","../general/img/banner.png",navArray,false)

    //- section#main_section
    //-     a(href="#")#main_banner.page_link
    //-         img(src="../general/img/banner.png")

    //-     #sub_section
    //-         span#page_info
    //-             .page_nav
    //-                 a(href="#") 首頁
    //-                 span.page_nav_separate >
    //-                 a(href="#") 限時優惠

    //-             .commodity_count 共10項商品
        
    //-         form
    //-             label.commodity_filter
    //-                 select
    //-                     option(value='價格低到高') 價格低到高
    //-                     option(value='價格高到低') 價格高到低
    //-                     option(value='價格不要出現') 價格不要出現
    //-                     option(value='我是土豪') 我是土豪            

    a(href="#").page_link
        img(src="../general/img/限時優惠banner-A.png")
    
    a(href="#").page_link
        img(src="../general/img/限時優惠banner-B.png")

    a(href="#").page_link
        img(src="../general/img/限時優惠banner-C.png")