extends ../_general/temp_page.jade
include ../_general/banner_section/banner_section.jade

block content
    -var navArray = ["首頁","會員專區","訂單查詢","訂單編號EJ201702030001"]
    +banner_section("#","../general/img/banner-會員專區.png",navArray,false)

    hr