extends ../_general/temp_page.jade

block content
    section.reset_password_section.form_section
        h1  重設密碼
        div.form
            input(type="password" placeholder="請輸入已經註冊Email" require).input_box.section_box
            input(type="password" placeholder="請再次輸入密碼" require).input_box.section_box
            div.error_message 密碼輸入錯誤或兩次密碼輸入不符
            button.input_button.input_box.section_box#reset_button 送出

    div#dialog
        h1 重設密碼成功
        p 請使用新密碼重新登入
        a(href="#") 確定