    //以下是複製order_detial/ all.styl
@import "../_general/member_section/member_section"
@import "../_general/rwd_table/rwd_table"

.statistics_table
    width: 300px;
    align-self: flex-end;
    
    &>span
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        font-size: 15px;
        margin-right: 30px;

    .count_name
        text-align: right
        .count_note
            font-weight: 100
            font-size: 13px

    .count_price
        width: 105px;
        min-width: 105px;
        text-align: right;
        font-weight: 100;
    
    hr
        border-top: 1px solid #4a4a4a
.sum_result
    color: #8B572A

.section_title
    margin-top: 12px;
    .split
        margin: 16px 0

/*cancel_detial_table*/
.cancel_detial_table
    th
        display: none

    tbody
        tr
            height: initial
            margin-bottom: 10px;
            display: flex;
            flex-wrap: wrap;
    td
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 33.3%;
        line-height: 48px;
        
        &:before
            content: attr(data-th) " ";
            display: flex
            flex-axis:center

.order_product_table_wrapper
    padding: 25px
    background: #FFF8F6
    position: relative;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

    &:before
        content: "商品";
        color: #d6645f;
        line-height: 40px;
        position: absolute;
        width: 100%;
        background: #f6eae6;
        height: 40px;
        left: 0;
        z-index: 1;

.order_product_table
    z-index: 2;
    position: relative;
    margin-bottom: 15px
    
    th
        &:first-child
            width: 40%

    td
        background: white
        padding: 0

    td[data-th='商品']
        display: flex;
        align-items: center;
        color: #8B572A
        
        a
            text-decoration: underline;
            text-align: left;
            margin-left: 20px;

        img
            height: 150px

    td[data-th='單價']
            position: relative;

            .normal_price
                position: absolute;
                width: 100%;
                text-align: center;
                margin-top: 15px;
                text-decoration: line-through;
    td[data-th='顏色']
        img
            size 31px

    tbody
        tr
            color: #4a4a4a
            border: none;
            &:nth-child(even)
                height: 150px
                border: none;
            &:nth-child(odd)
                height: 15px
            &:first-child
                height: 25px
/*order_tables ovrrider rwd*/
+media-query( all, max-width $phone_rwd_width )
    .order_product_table_wrapper
        padding: 15px 5px
    .order_product_table
        td
            display: flex;
            align-items: center;
            color: #4a4a4a
            background: white
            flex-direction: column;
            padding: 0;
            width: 19%;

        td[data-th='商品']
            width: 100%
            flex-direction: row;
            padding-bottom: 22px;

            &:before
                display: none
            
            a
                margin-left: 10px;
                line-height: initial;
            
            img
                height: 107px
        td[data-th='商品編號']
            width: 24%
        
        td[data-th='單價']
            position: relative;

            .normal_price
                position: initial;
                margin-top: 0
            .now_price,.normal_price
                line-height: 12px;

        td[data-th='顏色']
                img
                    margin-top: 6px;
        tbody
            tr
                &:nth-child(odd)
                    height: 5px
                    display: none
                &:first-child
                    height: 35px
                    display: block
                &:nth-child(even)
                    height: initial
                    margin-bottom: 5px;
    .order_product_table td:before
        background: white;
        color: #4a4a4a;
    
    .now_price
        margin-top: 11px
    .statistics_table
        width: 100%

        /*span
            margin-right: calc("100% - 300px")*/
/*order_tables*/

+media-query( all, max-width $phone_rwd_width )
  .section_title
        margin-top: 0;

/*以上直接reference到order_detial page all.styl (copy and paste)*/
.order_product_table
    margin-bottom: 0

td[data-th='商品']
    img
        width: 150px
+media-query( all, max-width $phone_rwd_width )
    .order_product_table
        td
            width: 20%;
            
    td[data-th='商品']
        img
            width: 107px
    
.statistics_table
    width: 400px

    &>span
        margin-right: 135px

    .button_wrapper
        display: flex
        justify-content: center;
        margin: 45px 0 130px
        &>a
            width: 96px;
            height: 36px;
            border-radius: 6px;
            font-size: 15px;
            font-weight: 300;
            letter-spacing: 0.4px;
            margin: 0 20px;
            cursor: pointer
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

        .keep_buy
            background: white;
            border: solid 1.2px #d5948e;
            color: #d5948e;

        .next_step
            background-color: #d5948e;
            color: white;
+media-query( all, max-width $phone_rwd_width )
    .statistics_table
        width: 100%;
        display: flex;
        flex-direction: column;

        &>span
            margin-right: calc("100% - 300px")

        hr
            width: 100%;
    
.delete_img
    size: 20px 24px

@import "../_general/steps/steps"