#main
    position: relative
    
.page_top_button
    position: fixed
    bottom: 22px 
    right: 55px
    cursor: pointer
    display: none

.is_bottom
    position: absolute;
    bottom: 0;

+media-query( only screen ,max-width ($banner_max_width) )

    .page_top_button
        display: none
        visibility: hidden
        opacity: 0