/*this css file include 
1. the #main section css
2.the top banner css 
of commodity page
*/



#main
    display: flex
    flex-axis: center
    flex-direction: column
    margin-bottom: 60px
    position: relative

.page_top_button
    position: fixed
    bottom: 22px 
    right: 55px
    cursor: pointer
    display: none

.is_bottom
    position: absolute;
    bottom: 0;

/*#main_banner css*/
#main_section
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-axis:center

#main_banner
    margin: 10px 0
    
#sub_section
    display: flex
    justify-content: space-between
    width: 100%;
    max-width: $banner_max_width

    .page_nav
        color: $gray_link
        margin-bottom: 15px

.page_link
    display: inline-flex
    flex-axis: center
    position: relative
    margin-bottom: 30px

    >img
        position: relative;
        z-index: -1;
        size $banner_max_width 300px

    &:hover
        background: rgba(214,100,95,0.33)
    
    &:last-child
        margin-bottom: 0

.page_nav_separate
    width: 12px;
    display: inline-block;
    text-align: center;

.commodity_filter

    &:after
        content:'\25BC';
        display:inline-block;
        color:#C3C2C3;
        background-color:#fff;
        margin-left:-17px;   /* remove the damn :after space */
        pointer-events:none; /* let the click pass trough */
        transform: scale(0.6);

    &>select
        background: white
        border-radius: 0
        -webkit-appearance:initial
        padding: 6px
        border: 1px solid #C3C2C3;
        size 145px 32px
        margin-bottom: 20px

.commodity_count       
    color: $gray_link

+media-query( only screen ,max-width ($banner_max_width) )

    .page_top_button
        display: none
        visibility: hidden
        opacity: 0

    .page_nav
        display: none

    .page_link>img
        height: 250px
        
            

+media-query( only screen ,max-width $tablet_rwd_width )
    #main
        margin-bottom: 0;

    .page_link
        margin-bottom: 5px

        >img
            height: 200px
            width: initial

        &:last-child
            margin-bottom: 10px

+media-query( only screen ,max-width $phone_rwd_width )
    .page_link>img
        height: 130px