/*kouto-swiss*/
@import "../../node_modules/kouto-swiss"
normalize()
/*font-awesome*/
// Set font path
//$fa-font-path = "../fonts"
// OR
$fa-font-path = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts"
@import "../../font-awesome-stylus/stylus/index"
// Include icon using mixin
// .my-icon
//   fa(user)

/*Define variable*/

$pink_light = #FFF8F6
$pink_medium = #D6645F
$pink_deep = #D5948E
$brown = #8B572A
$brown_icon_hover = #8E5651
$gray_link = #9B9B9B
$fb_background = #3767B8
$fb_background_hover = #1B4678


$font12 = 12px
$font13 = 13px
$font15 = 15px
$font16 = 16px
$font18 = 18px
$font20 = 20px
$font22 = 22px
$font24 = 24px
$font35 = 35px

/*CSS reset*/
ul
    margin: 0
    padding: 0
    list-style-type: none

a
    text-decoration: none
    color: inherit

input
    border: none
    outline: none

h1,h2,h3,h4,h5,h6,p
    margin: 0

select
    outline: none

button
    border: none
    outline: none
    cursor: pointer
/*RWD width define*/
$footer_rwd_width = 850px
$phone_rwd_width = 550px
$tablet_rwd_width = 850px
/**/
$banner_max_width = 1185px
/*minix*/

topDownTriangle(height,width,face-color)
    border-top: height solid face-color
    border-left: (width/2) solid transparent
    border-right: (width/2) solid transparent

/*OOCSS for reuse*/

//1.animation

show_dropdown_animation(trgger_hover_selector)
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px)
    transition: visibility 0.15s linear, opacity 0.3s ease, transform 0.3s ease;

    &:hover,/{trgger_hover_selector}
        visibility: visible;
        opacity: 1;
        transform: translateY(0);

    &:hover:before
        border-top-width: 7px;
        transform: translateY(0);
    // &:after
    //     content: '';
    //     position: absolute;
    //     top: -15px;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     height: 15px;
    //     width: 100%;

    
    // &:hover:after
    //     border-top-width: 7px
    //     cursor: pointer
    
    {trgger_hover_selector}:before
        border-top-width: 7px
        transform: translateY(0)
        transition: transform 0.15s linear 0.3s,border-top-width 0.15s linear 0.3s
    
    
    

/*header*/
@import "./header/header"
/*footer*/
@import "./footer/footer"

html
    height: 100%;
    font-size: $font12
    overflow-x: hidden

body
    min-height: 100%
    display: flex
    flex-direction: column

#main
    flex: 1

+media-query( all, max-width $phone_rwd_width )
    body
        overflow-x: hidden



