/*kouto-swiss*/
@import "../../node_modules/kouto-swiss"
normalize()
/*font-awesome*/
// Set font path
//$fa-font-path = "../fonts"
// OR
$fa-font-path = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts"
@import "../../font-awesome-stylus/stylus/index"
// Include icon using mixin
// .my-icon
//   fa(user)

/*Define variable*/
$font_pink = #D6645F

$small_font = 12px

/*CSS reset*/
ul
    margin: 0
    padding: 0
    list-style-type: none

a
    text-decoration: none
    color: inherit

//@import "header"
/*footer*/
@import "./footer/footer"






