doctype html
html
    head
        link(href='all.css', rel='stylesheet')
        block css
    body
        include ./header/header.jade
        main#main
            block content
            
        include ./footer/footer.jade
