doctype html
html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=0.8, maximum-scale=2.0, user-scalable=no')
        block css

        link(href='all.css', rel='stylesheet')
        script(src='../general/jquery-3.2.0.min.js')
        script(src='bundle.js')
        
        block js
            
    body
        include ./header/header.jade
        main#main
            block content
            
        include ./footer/footer.jade
