mixin login()
    section.login_section
        h1 會員登入
        a(hrfe="").login_button.fb_login facebook登入
        hr
        form
            input(type="text" placeholder="請輸入Email" require).login_input
            input(type="password" placeholder="請輸入密碼" require).login_input
            div.error_message Email或密碼輸入錯誤 / 此Email未註冊
            input(type="submit" value="登入").login_button.email_login
        a(href="").forget_password 忘記密碼?