@require "../../../node_modules/kouto-swiss"
.form_section
    display: flex
    flex-direction: column
    flex-axis: center
    width: 289px
    width: 400px

    &>h1
        color: #D6645F
        font-size: 28px
        font-weight: lighter
        text-align: center;
    &>form,.form
        width: 100%

.section_box
    width: 100%
    height: 51px

.input_box    
    border-radius: 10px
    box-sizing: border-box
    margin: 8px 0
    border: 1px solid #979797
    padding: 15px 25px
    -webkit-appearance: none;
    +placeholder()
        color: #C3C2C3
        font-size: 14px
        font-weight: 100

.input_button
    border-radius: 10px
    background: $pink_deep
    margin-top: 15px
    color: white
    font-size: 18px
    cursor: pointer
    border: none
    text-align: center
    &:hover
        background: #C8837C

//login section
.login_section
    
    &>h1
        margin-bottom: 32px

    &>hr
        width: 100%
        padding: 0;
        border: none;
        border-top: 1px solid #9B9B9B;
        color: #9B9B9B;
        text-align: center;
        &:after
            content: "or";
            display: inline-block;
            position: relative;
            top: -0.7em;
            font-size: 14px;
            padding: 0 0.5em;
            background: white;

    
.fb_login
    background: $fb_background
    margin: 8px 0
    display: flex
    flex-axis: center
    &:hover
        background: $fb_background_hover


.error_message
    color: #950012
    font-size: 12px
    text-align: center
.forget_password
    margin-top: 15px
    color: $pink_medium
    
+media-query( all, max-width $phone_rwd_width )
    .form_section
        width: 289px